/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-block-list__block[data-type="absolutte-blocks/blog"]{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.absolutte-section-blog{
	.absolutte-blog-title{
			&::after{
				display: none;
			}

			&.mce-content-body::after{
				display: block;
			}
	}
}