/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-block-list__block[data-type="absolutte-blocks/screenshot"]{
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.absolutte-section-screenshot{

		.absolutte-screenshot-text{
				.mce-content-body,
				.editor-rich-text__tinymce{
					color: #fff;
				}
		}

		.absolutte-screenshot-bullets{
			list-style: none !important;
		}
}

.absolutte-phone-mockup{

		.absolutte-phone-mockup-image{
			background-color: #fafafa;

				.components-button{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) !important;
		
						&.image-button{
							opacity: 0;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							transform: translate(0,0) !important;
						}
				}

		}

		
}

